[Unit]
Description=Auto Running Code Service
After=network.target

[Service]
ExecStart=/bin/bash -c "cd ~/iot && python main.py"
Restart=always
User=aide
StandardOutput=~/iot/output.log 

[Install]
WantedBy=multi-user.target